# ç‰¹å¾´é‡ã®ç”Ÿæˆã¨å¤‰æ›

## ç‰¹å¾´é‡ç”Ÿæˆ
æ—¢å­˜ã®ç‰¹å¾´é‡ã‹ã‚‰æ–°ã—ã„æ„å‘³ã®ã‚ã‚‹ç‰¹å¾´é‡ã‚’å°ãå‡ºã—ã¦ã€ãƒ¢ãƒ‡ãƒ«ãŒãƒ‡ãƒ¼ã‚¿å†…ã®é‡è¦ãªãƒ‘ã‚¿ãƒ¼ãƒ³ã‚’ã‚ˆã‚Šè‰¯ãæ‰ãˆã‚‰ã‚Œã‚‹ã‚ˆã†ã«ã™ã‚‹ã€‚

ç‰¹å¾´é‡ç”Ÿæˆã®ä¾‹ï¼š
- æ—¥æ™‚æ©Ÿèƒ½
- ã‚¤ãƒ³ã‚¿ãƒ©ã‚¯ã‚·ãƒ§ãƒ³æ©Ÿèƒ½ï¼ˆè¤‡æ•°ã®ç‰¹å¾´é‡ã‚’çµ„ã¿åˆã‚ã›ã‚‹ï¼‰
- é›†è¨ˆï¼ˆé¡§å®¢ã®è³¼å…¥é »åº¦ã¨å¹³å‡è³¼å…¥é¡ã‚’æ›ã‘åˆã‚ã›ã‚‹ï¼‰

## ç‰¹å¾´é‡å¤‰æ›
æ—¢å­˜ã®ç‰¹å¾´é‡ã‚’å¤‰æ›´ã—ã¦ã€å­¦ç¿’ã‚¢ãƒ«ã‚´ãƒªã‚ºãƒ ã«ã‚ˆã‚Šé©åˆã•ã›ã‚‹æ‰‹æ³•

**ä¸€èˆ¬çš„ãªå¤‰æ›æ–¹æ³•**
- å¯¾æ•°å¤‰æ›ï¼ˆLogarithmic Transformationï¼‰
    - å¼·ãæ­ªã‚“ã åˆ†å¸ƒã«ãŠã‘ã‚‹æ­ªåº¦ã‚’è»½æ¸›

- å¹³æ–¹æ ¹å¤‰æ›ï¼ˆSquare Root Transformationï¼‰
    - ä¸­ç¨‹åº¦ã®æ­ªåº¦ã‚’è»½æ¸›ã€ç‰¹ã«ã‚«ã‚¦ãƒ³ãƒˆãƒ‡ãƒ¼ã‚¿ã«ä½¿ç”¨ã•ã‚Œã‚‹ã“ã¨ãŒå¤šã„

- å¤šé …å¼å¤‰æ›ï¼ˆPolynomial Transformationï¼‰
    - é«˜æ¬¡é …ï¼ˆ$ğ‘¥^2, ğ‘¥^3$ ãªã©ï¼‰ã‚’è¿½åŠ ã—ã¦éç·šå½¢é–¢ä¿‚ã‚’æ‰ãˆã‚‹

**é‡è¦æ€§**
- ãƒ¢ãƒ‡ãƒ«ã®éç·šå½¢é–¢ä¿‚ã¸ã®é©åˆèƒ½åŠ›ã‚’å‘ä¸Šã•ã›ã‚‹
- åˆ†å¸ƒã‚’ã‚ˆã‚Šæ­£è¦åˆ†å¸ƒã«è¿‘ã¥ã‘ã€æ­£è¦æ€§ã‚’ä»®å®šã™ã‚‹ã‚¢ãƒ«ã‚´ãƒªã‚ºãƒ ã®æ€§èƒ½å‘ä¸Šã«å¯„ä¸

**éç·šå½¢é–¢ä¿‚ã«ãŠã‘ã‚‹ç‰¹å¾´é‡å¤‰æ›ã®é‡è¦æ€§**

* ç‰¹å¾´é‡å¤‰æ›ã«ã‚ˆã‚Šã€ç·šå½¢ãƒ¢ãƒ‡ãƒ«ãŒéç·šå½¢é–¢ä¿‚ã‚’æ‰±ãˆã‚‹ã‚ˆã†ã«ãªã‚‹

  * ä¾‹ï¼š

    * å¤šé …å¼å¤‰æ›ã¯ã€ç·šå½¢å›å¸°ã§äºŒæ¬¡çš„ãƒ‘ã‚¿ãƒ¼ãƒ³ã‚’ãƒ¢ãƒ‡ãƒ«åŒ–ã§ãã‚‹ã‚ˆã†ã«ã™ã‚‹
    * å¯¾æ•°å¤‰æ›ã¯ã€åˆ†æ•£ã‚’å®‰å®šã•ã›ã€æ­ªåº¦ã‚’å‡¦ç†ã™ã‚‹

* ç‰¹å¾´é‡ã‚’å¤‰æ›ã™ã‚‹ã“ã¨ã§ã€ãƒ¢ãƒ‡ãƒ«ã¯ã‚ˆã‚Šå …ç‰¢ã«ãªã‚Šã€ãƒ‡ãƒ¼ã‚¿å†…ã®è¤‡é›‘ãªãƒ‘ã‚¿ãƒ¼ãƒ³ã‚’æ‰ãˆã‚‹èƒ½åŠ›ãŒå‘ä¸Šã™ã‚‹

---
## æ¼”ç¿’
1. æ—¥ä»˜åˆ—ã‹ã‚‰æ–°ã—ã„ç‰¹å¾´é‡ã‚’ä½œæˆã™ã‚‹ï¼ˆä¾‹ï¼šæ›œæ—¥ã€æœˆã€å¹´ï¼‰
2. ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã«å¤šé …å¼å¤‰æ›ã‚’é©ç”¨ã—ã€å¤‰æ›å‰å¾Œã§ãƒ¢ãƒ‡ãƒ«æ€§èƒ½ã‚’æ¯”è¼ƒã™ã‚‹

In [30]:
import pandas as pd

In [31]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

### Load Data

In [32]:

df = pd.read_csv("bike_sharing_daily.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [33]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

### 1. Create new features from a date column

In [34]:
# Convert dteday to datetime
df['dteday'] = pd.to_datetime(df['dteday'])

# Create new features
df['day_of_week'] = df['dteday'].dt.day_name()
df['month'] = df['dteday'].dt.month
df['year'] = df['dteday'].dt.year

# Display the new features
print("\nNew Features: ", df[['dteday', 'day_of_week', 'month', 'year']])

New Features:          dteday day_of_week  month  year
0   2011-01-01    Saturday      1  2011
1   2011-01-02      Sunday      1  2011
2   2011-01-03      Monday      1  2011
3   2011-01-04     Tuesday      1  2011
4   2011-01-05   Wednesday      1  2011
..         ...         ...    ...   ...
726 2012-12-27    Thursday     12  2012
727 2012-12-28      Friday     12  2012
728 2012-12-29    Saturday     12  2012
729 2012-12-30      Sunday     12  2012
730 2012-12-31      Monday     12  2012

[731 rows x 4 columns]

### 2a. Apply polynomial transformations to a dataset

In [ ]:
# Select feature and target
X = df[['temp']]
y = df['cnt']

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [36]:
## Train Linear Regression model with the original dataset
model_original = LinearRegression()
model_original.fit(X_train, y_train)
mse_original = mean_squared_error(y_test, model_original.predict(X_test))

In [ ]:
# Apply polynomial transformation and train the model
poly = PolynomialFeatures(degree=2, include_bias=False)

X_poly_train = poly.fit_transform(X_train)  # fit ã¯è¨“ç·´ãƒ‡ãƒ¼ã‚¿ã®ã¿
"""
poly.fit_transform(X) 
å…ƒã®ç‰¹å¾´é‡è¡Œåˆ— X ã‹ã‚‰ã€2æ¬¡ã¾ã§ã®ã™ã¹ã¦ã®é …ï¼ˆå˜é …ãƒ»ç´¯ä¹—ãƒ»äº¤äº’ä½œç”¨é …ï¼‰ã‚’è¨ˆç®—ã—ã¦æ–°ã—ã„ç‰¹å¾´é‡é›†åˆã‚’ä½œã‚‹ã€‚
ä¾‹ï¼š
[a, b] -> [a, b, a^2, ab, b^2].
[a, b, c] -> [a, b, c, a^2, ab, ac, b^2, bc, c^2]

ç›®çš„ï¼š
ãƒ¢ãƒ‡ãƒ«ãŒéç·šå½¢ãªé–¢ä¿‚ã‚„ç‰¹å¾´ã®çµ„ã¿åˆã‚ã›ï¼ˆäº¤äº’ä½œç”¨ï¼‰ã‚’å­¦ç¿’ã§ãã‚‹ã‚ˆã†ã«ã™ã‚‹ãŸã‚ã€ç‰¹å¾´ç©ºé–“ã‚’æ‹¡å¼µã™ã‚‹ã€‚
ç‰¹ã«ç·šå½¢å›å¸°ãƒ¢ãƒ‡ãƒ«ã§å¤šé …å¼å›å¸°ï¼ˆéç·šå½¢ã‚«ãƒ¼ãƒ–ã®è¿‘ä¼¼ï¼‰ã‚’è¡Œã„ãŸã„ã¨ãã«ä½¿ã‚ã‚Œã‚‹ã€‚

fit: å­¦ç¿’ãƒ‡ãƒ¼ã‚¿ X_train ã‚’è¦‹ã¦ã€å¤šé …å¼é …ã‚’ç”Ÿæˆã™ã‚‹ãƒ«ãƒ¼ãƒ«ã‚’æ±ºå®š
transform: fitã§æ±ºã‚ãŸãƒ«ãƒ¼ãƒ«ã«åŸºã¥ã„ã¦ã€ X_train ã®å€¤ã‚’å¤‰æ›ã—ã¦æ–°ã—ã„è¡Œåˆ—(X_poly_train)ã‚’ç”Ÿæˆ
-> X_poly_trainã«ã¯ 'temp', 'temp^2' ã®2åˆ—ãƒ‡ãƒ¼ã‚¿ãŒå…¥ã‚‹ã€‚
"""

X_poly_test  = poly.transform(X_test)       # ãƒ†ã‚¹ãƒˆã¯ transform
"""
â€»å­¦ç¿’ãƒ‡ãƒ¼ã‚¿ã¨åŒã˜åˆ—æ§‹é€ ï¼ˆåŒã˜ç‰¹å¾´é‡æ•°ï¼‰ã® X_poly_test ã‚’å¾—ãŸã„ãŸã‚ã€ãƒ†ã‚¹ãƒˆãƒ‡ãƒ¼ã‚¿ã§ã¯fitã¯å‘¼ã°ãªã„ã€‚
ï¼ˆãƒ†ã‚¹ãƒˆãƒ‡ãƒ¼ã‚¿ã«å¯¾ã—ã¦fitã‚’è¡Œã†ã¨ã€
ã€€æœ¬æ¥æœªçŸ¥ã§ã‚ã‚‹ã¹ããƒ†ã‚¹ãƒˆãƒ‡ãƒ¼ã‚¿ã®æƒ…å ±ãŒå­¦ç¿’éç¨‹ã«æ··å…¥ã—ã¦ã—ã¾ã†ï¼ã€Œãƒ‡ãƒ¼ã‚¿ãƒªãƒ¼ã‚¯ã€ï¼‰
"""

model_poly = LinearRegression()
model_poly.fit(X_poly_train, y_train)
mse_poly = mean_squared_error(y_test, model_poly.predict(X_poly_test))

### 2b. Compare model performance before and after transformation

In [38]:
# Compare results
print(f"MSE original: {mse_original:.2f}")
print(f"MSE Polynomial: {mse_poly:.2f}")

MSE original: 2391051.89
MSE Polynomial: 2431396.49